@page
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@{
    var user = await UserManager.GetUserAsync(User);
    var firstName = user?.FirstName ?? "Guest";
    var lastName = user?.LastName ?? "User";

}

<div class="container">
    <div class="chat-container">
        <div id="messagesList" class="messages-list">
            @* messages will be inserted here *@
        </div>
        <div class="chat-input-group">
            Language: <select id="languageSelect">
                    <option value="en-US">English</option>
                    <option value="fr-FR">French</option>
                    <option value="es-ES">Spanish</option>
                    <!-- Add other languages as needed -->
                </select>
            User: <input type="text" id="userInput" class="user-input" value="@firstName @lastName" readonly/>
        </div>
        <div class="chat-input-group">
            Message: <input type="text" id="messageInput" class="message-input" />
            <input type="button" id="sendButton" value="Send" />
        </div>
        <div>
            <input type="button" id="historyButton" value="History" />
            <input type="button" id="summaryButton" value="Summary" />
        </div>
    </div>
</div>

<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>
