@page
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@{
    var user = await UserManager.GetUserAsync(User);
}

@if (SignInManager.IsSignedIn(User))
{
    <h2>Welcome @user.UserName, you can start by clicking the chat tab</h2>
}
else
{
    <div>
        <div class="custom-chat-intro">
            <div class="custom-chat-announcement">
                <p class="custom-chat-announcement-text">
                    ChatPro is public!
                </p>
            </div>
            <h1 class="custom-chat-heading">
                Chat with <span>foreign</span> friends in your native language.
            </h1>

            <a class='btn-large' href='/' target='_blank'>
                Get started
                ➡️
            </a>
        </div>

        <div class="relative isolate">
            <div class="content-container">
                <div class="image-container">
                    <img src='/dashboard-preview.png' alt='product preview' class="image-preview" />
                </div>
            </div>

            <div aria-hidden="true" class="decorative-bg">
                <div class="decorative-shape"></div>
            </div>
        </div>

        <div class="main-content">
            <div class="mb-12 px-6 lg:px-8">
                <div class="mx-auto max-w-2xl sm:text-center">
                    <h2 class="content-heading">Start chatting now</h2>
                </div>
            </div>

            <ol class="steps-list">
                <li class="step-item">
                    <div class="list-group">
                        <span class="step-indicator">Step 1</span>
                        <span class="step-title">Sign up for an account</span>
                        <span class="step-description">Either starting out with a free plan or choose our <a href='/pricing'
                                class="step-link">pro plan</a>.</span>
                    </div>
                </li>
                <li class="step-item">
                    <div class="list-group">
                        <span class="step-indicator">Step 2</span>
                        <span class="step-title">Start Chatting to anyone anywhere</span>
                        <span class="step-description">We make your life easier.</span>

                    </div>
                </li>
                <li class="step-item">
                    <div class="list-group">
                        <span class="step-indicator">Step 3</span>
                        <span class=" step-title">Generate summaries</span>
                        <span class="step-description">It&apos;s that simple. Try out ChatPro today.</span>
                    </div>
                </li>
            </ol>
        </div>
    </div>
}