@page
<div class="container">
    <div class="chat-container">
        <ul id="messagesList" class="messages-list">
            @* messages will be inserted here *@
        </ul>
        <div class="chat-input-group">
            User: <input type="text" id="userInput" />
            Message: <input type="text" id="messageInput" />
            <input type="button" id="sendButton" value="Send" />
        </div>
    </div>
</div>
<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>
