@page
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@{
    var user = await UserManager.GetUserAsync(User);
}

@if (SignInManager.IsSignedIn(User))
{
    <h2>Welcome @user.UserName, you can start by clicking the chat tab</h2>
}
else
{
    <h2>Welcome to our app! Please sign in to start chatting</h2>
}